* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
   
    background-color: #0F1624;
    color: #fff;
}

.projetos {
    text-align: center;
    padding: 50px 0;
}

.projetos h1 {
    margin-right: 1010px;
    font-size: 36px;
    margin-bottom: 40px;
}

.container { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    
    margin-left: 400px;
    padding: 0 20px;
}

.projeto {
    background-color: #0F1624;
    border-radius: 10px;
    border-style: groove;border-radius: 0 120px 0 120px;
    
    border-color: aliceblue;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.projeto img {
    max-width: 75%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.projeto h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.projeto p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #b0b0b0;
}

.projeto a {
    text-decoration: none;
    color: white;
    background: linear-gradient(45deg, #6a5acd, #00d4ff);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
}

.projeto:hover {
    transform: translateY(-10px);
}